::selection {
	background: #777;
	color: white;
}

body {
	background-color: #eee;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: 100 !important;
	box-shadow: none !important;
	text-shadow: none !important;
	border-radius: none !important;
	-webkit-border-radius: none !important;
}

#nav_bar ul {
	list-style: none;
	padding: 0;
}

#nav_bar li {
	display: inline-block;
	border:none;
}

#nav_bar li a {
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100px;
	text-decoration: none;
	color: black;	
}

#nav_bar li a:hover {
	background-color: #555;
	color: white;
}

button, .ui-corner-all, .ui-btn, .ui-shadow {
	border-radius: none !important;
	-moz-border-radius: none !important;
	-webkit-border-radius: none !important;
}

.ui-btn-active {
	background-color: #0061C1 !important;
}

.ui-btn {
	border: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
	border-radius: none !important;
	-webkit-border-radius: none !important;
}

button {
	background-color: #777 !important;
	color: white !important;
}

#feed_container, #borrow_container, #lend_container, #more_container {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.Open, .Closed{
	background-color: #0061C1;
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	padding: 2%;
}

.Open button, .Closed button {
	color: black !important;
	background-color: white !important;
	width: 40%;
	display: inline-block;
	margin-left:10px;
	margin-right:10px;
}

.Open a, .Closed a, .Open a:hover, .Closed a:hover {
	color: white;
	text-shadow: none;
}

.post {
	background-color: #0061C1;
	color: white;
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}