/************* GLOBAL *************/

::selection {
	background: #777;
	color: white;
}

body, section, .ui-collapsible-content {
	background-color: #eee !important;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: 100 !important;
	box-shadow: none !important;
	text-shadow: none !important;
	border-radius: none !important;
	-webkit-border-radius: none !important;
	border:none;
}

img {
	margin-right:15px;
}

p {
	color: white;
}

h1, h2 {
	text-align: center;
}

li a:link, li a:visited, li a:hover, li a:active {
 color: white;
 text-shadow:none !important;
}

.ui-btn-active {
	background-color: #777 !important;
}

.ui-block-b .ui-btn-active {
	background-color: #0061C1 !important;
}

.ui-block-c .ui-btn-active {
	background-color:#CA0065 !important;
}

.ui-collapsible-content {
	background-color: 
}

button, .ui-btn, .ui-shadow, .ui-corner-all, .ui-li-count {
	border: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
	border-radius: none !important;
	-webkit-border-radius: none !important;
}

button, #filters .ui-btn {
	background-color: #777 !important;
	color: white !important;
		padding-top:20px !important;
	padding-bottom:20px !important;
	margin-top:20px !important;
	margin-bottom:20px !important;
}

section ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/************* NAV BAR *************/

#nav_bar ul {
	list-style: none;
	padding: 0;
}

#nav_bar li {
	display: inline-block;
	border:none;
}

#nav_bar li a {
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100px;
	text-decoration: none;
	color: black;	
}

#nav_bar li a:hover {
	background-color: #555;
	color: white;
}

/************* CONTAINERS *************/

#feed_container, #borrow_container, #lend_container, #more_container, #cat_container, #by_friend_container, #by_local_container, #search_results, #friend_container, #profile_container, #main  {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#activity li {
	background-color: #CA0065;
}

/************* BORROW *************/

.Open, .Closed, .requested, .current, .complete, .rejected, li , .User {
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	padding: 20px;

	text-align: left;
}

.Open, .Closed {
	background-color: #0061C1;
}

.Open button, .Closed button, .requested button, .current button, .complete button, .rejected button, #activity button {
	background-color: white !important;
	display: block;
	/** FOR TWO BUTTONS SIDE BY SIDE
	margin-left:2%;
	margin-right:2%;
		width: 45% !important;
**/
}

.Open button, .Closed button{
	color: #0061C1 !important;
}

.requested button, .current button, .complete button, .rejected button, #activity button   {
	color: #CA0065 !important;
}

.Open a, .Closed a, .Open a:hover, .Closed a:hover, .requested a, .requested a:hover, .current a, .current a:hover, .complete a, .complete a:hover, .rejected a, .rejected a:hover {
	color: white !important;
	text-shadow: none;
	text-decoration: none;
	text-align: left;
}


/************* LEND *************/

.requested, .current, .approved, .waiting {
	background-color: #CA0065;
}

.complete, .rejected, .late, .failed , .complete a, .complete a:hover, .complete a, .complete a:hover{
	color: #CA0065;
    background-color: rgb(215,215,215);
}


/************* UNSURE *************/
.user {
	background-color: #777;
	color: white;
	padding: 2%;
	padding-top: 1%;
	padding-left:3%;
	text-align: left;
}

#info, #inventory, #reviews {
	/*background-color: #777 !important;*/ /*why this*/
	padding:20px;
	margin:20px;
}

#info h1, #inventory h1, #reviews h1, #info h2, #inventory h2, #reviews h2 {
	/*color: white;*/
}


/************* UNSURE *************/

.post {
	background-color: #0061C1;
	color: white;
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}